body {
  font-family: "Open Sans", Verdana, sans-serif;
  font-weight: 300;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  padding: 15px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
}

#loading {
  display: none;
}


@media (max-width: 775px) {
  .panel {
    bottom: 25%;
    right: 0;
  }
  #map {
    top: 25%;
    left: 0;
  }
}
