{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel">
    <h3>Canvass Clustering Tool</h3>
    <label for="clusters">Number of Clusters</label>
    <input type="number" min="1" max="20" name="clusters">
    <p>
      <button id="eq-50">50 Points</button>
      <button id="gt-50">100 Points</button>
      <img id="loading" src="//i0.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif?zoom=2&resize=45%2C45"/>
    </p>
  </div>
  <div id="map"></div>
</div>
{% endblock %}
